@{
    ViewData["Title"] = "Home Page";
}

@model List<Character>

<div class="row row-cols-1 row-cols-md-3 g-4 my-3">
    @foreach(var character in Model)
    {
        
  <div class="col">
    <div class="card h-100">
                <img src="/images/@character.ImageUrl" class="card-img-top card-img-css" alt="@character.Name">
      <div class="card-body">
                    <h5 class="card-title">@character.Name</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">@character.RealName</h6>
                    <p class="card-text">@character.Description</p>
      </div>
    </div>
  </div>
    }
   </div>
    
